<hr>

<div class="container" id=footer>
    <div class="row">
      <div class="col-sm-4">
        <ul>
            <li>Runaway Jim</li>
            <li>Sample In A Jar</li>
            <li>Sanity</li>
            <li>Scent Of A Mule</li>
            <li>Scents And Subtle Sounds</li>
            <li>Self</li>
            <li>Shafty</li>
            <li>Shaggy Dog</li>
            <li>Silent In The Morning</li>
            <li>Simple</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul>
            <li>Buffalo Bill</li>
            <li>Carolina On My Mind</li>
            <li>Catapult</li>
            <li>Cavern</li>
            <li>Chalk Dust Torture</li>
            <li>Chalkdust Torture</li>
            <li>Character Zero</li>
            <li>Cities</li>
            <li>Colonel Forbin's Ascent</li>
            <li>Contact</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul>
            <li>Fikus</li>
            <li>Fluff's Travels</li>
            <li>Fluffhead</li>
            <li>Foam</li>
            <li>Frankie Says</li>
            <li>Free</li>
            <li>Ghost</li>
            <li>Glide</li>
            <li>Golgi Apparatus</li>
            <li>Guelah Papyrus</li>
            <li>Gumbo</li>
        </ul>
      </div>
    </div>
  </div>

</body>

</html>