<%- include('partials/head')%>

<%- include('partials/navbar')%>

<h2>Fun with CSS</h2>

<div class="box">
    <div class="head">
        <div class="lefteye">
            <div class="lefteyeball"></div>
        </div>
        <div class="righteye">
            <div class="righteyeball"></div>
        </div>
        <div class="nose"></div>
        <div class="eyelids"></div>
    </div>
</div>