<%- include('partials/head')%>

<%- include('partials/navbar')%>


    <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1>An Easy Landing Page</h1>
          </div>
          <div class="col-md-4">
            <p>I feel them quickly swirling by as they withdraw with my reply She blinks but doesn't see you yet, she shivers
                and is soaking wet I'll wriggle in the earth and dew Always recognize your fate, always just a moment late 
                Consumed me and strengthened my will to appease Relax Whenever I think of you it only makes me feel sad </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>Prep school hippie, or hip school preppie But everything is in its own dominion, and waiting in the shadows 
                as I do Which quickly drifts away from here and possibly won't reach her ear Are tossed with thoughts into a 
                bin, time leaks out my life leaks in Don't want to be anything where I don't know when to stop </p>
          </div>
          <div class="col-md-4">
            <p>Instead I'm stranded on my knees as words depart upon the breeze Or float in the ocean asleep in a box 
                You'll find them on the walls of the cave A tiny space to move and breathe is all that I would ever need</p>
          </div>
          <div class="col-md-4">
              <p>He fires up my legs when he wants me to walk And you'll just hope that I've moved on, so you'll look up 
                  and find me gone A single cloud within a storm descends and leaves behind a formorn</p></div>
        </div>
      </div>

      
<%- include('partials/footer')%>