<%- include('partials/head')%>

<%- include('partials/navbar')%>
    
     <div class="container-fluid">
        <div class="display">
          <div class="col-md-6">
            YOLKlore.
          </div>
          <div class="col-md-6">
            Column
          </div>
        </div>
      </div>

   

</body>
</html>